#authPanel {
  width: 320px;
  margin: 60px auto;
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
}

#authPanel input, #authPanel select {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

#authMessage {
  margin-top: 10px;
  color: #ffc75f;
}
